.categoryTitle {
    margin-inline-start: 2.5%;
    text-align: start;
}

.divider {
    border-top: 2px solid black;
    margin: 20px 0;
}
.movieListItem {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
  }
  
  .movieListItem img {
    width: '50%';
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .movieListItem h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .movieListItem p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
  }
  